* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(./images/background2.jpg);
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  border-bottom: 1px solid black;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

footer a:focus {
  text-decoration: underline;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.726);
  padding-left: 30%;
  padding-right: 30%;
}

.header p a {
  background-color: rgb(121, 121, 207);
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-family: "Italianno", cursive;
  font-size: 32px;
  border-radius: 10px;
  transition: 0.2s ease;
}
.header p a:hover {
  color: #deeff5;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  padding: 10px;
}

.nav-bar a:hover {
  background-color: rgb(121, 121, 207);
  padding: 10px;
  border-radius: 5px;
  color: #deeff5;
}

.nav-bar a:focus {
  background-color: rgb(121, 121, 207);
  color: blanchedalmond;
  padding: 10px;
  border-radius: 10px;
}
.home-quot {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  padding: 20px;
  padding-top: 60px;
}
.home-quot h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.about-div {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.774);
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.about-div h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.person-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.contact-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 210px;
  margin-bottom: 280px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(0, 0, 0, 0.63);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.project-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin: 15px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.4s ease;
}
.project-items p {
  font-size: 20px;
  word-wrap: break-word;
  width: 280px;
  text-align: center;
}
.project-items a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
  padding: 0 3em;
  height: 3.5em;
  font: 300 1em/3.5em "Open Sans", sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  letter-spacing: 0.08em;
  color: #fff;
  background: rgb(121, 121, 207);
  border: solid 1px #fff;
  border-radius: 2px;
  -moz-transition: ease 0.35s all;
  -o-transition: ease 0.35s all;
  -webkit-transition: ease 0.35s all;
  transition: ease 0.35s all;
  border-radius: 10px;
}

.project-items a:hover {
  background: rgb(102, 102, 214);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
  line-height: 9em;
  border-radius: 10px;
}
.project-items a::before {
  content: attr(data-text);
  color: #deeff5;
  position: absolute;
  top: -2.75em;
}

.project-items img {
  width: 350px;
  height: 230px;
}

.project-container {
  display: flex;
  flex-direction: column;
}
.project-group {
  display: flex;
  justify-content: center;
}

@media (max-width: 860px) {
  .project-group {
    flex-wrap: wrap;
  }
  footer {
    padding-left: 20%;
    padding-right: 20%;
  }
  .header p a {
    background-color: rgb(121, 121, 207);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-size: 25px;
    border-radius: 10px;
    transition: 0.2s ease;
  }
}

@media (max-width: 620px) {
  .home-quot {
    width: 400px;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
  }
  .home-quot h2 {
    font-size: 80px;
    border-radius: 10px;
    padding: 10px;
  }
  .about-div {
    padding-top: 20px;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
  }
}
@media (max-width: 540px) {
  .home-quot {
    width: 300px;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
  }
  .home-quot h2 {
    font-size: 70px;
    border-radius: 10px;
    padding: 10px;
  }
  .about-div {
    padding-top: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
  }
}

@media (max-width: 490px) {
  .project-items img {
    width: 250px;
  }
  .project-items {
    height: 350px;
  }

  footer {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
  }

  .header {
    padding: 10px;
    font-size: 15px;
  }

  .header p a {
    background-color: rgb(121, 121, 207);
    color: #fff;
    padding: 5px;
    text-decoration: none;
  }

  .home-quot {
    width: 300px;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
  }
  .home-quot h2 {
    font-size: 60px;
    border-radius: 10px;
    padding: 10px;
  }
}
@media (max-width: 416px) {
  .project-items img {
    width: 250px;
  }
  .project-items {
    height: 300px;
  }

  .header {
    padding: 8px;
    font-size: 11px;
  }

  .header p a {
    background-color: rgb(121, 121, 207);
    color: #fff;
    padding: 3px;
    text-decoration: none;
    font-size: 22px;
  }

  .home-quot {
    width: 300px;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
  }
  .home-quot h2 {
    font-size: 60px;
    border-radius: 10px;
    padding: 10px;
  }

  .project-items a {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding: 0 2em;
    height: 3em;
    font: 250 1em/2.8em "Open Sans", sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    letter-spacing: 0.08em;
    color: #fff;
    background: rgb(121, 121, 207);
    border: solid 1px #fff;
    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
    border-radius: 10px;
  }

  .project-items a:hover {
    background: rgb(102, 102, 214);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    line-height: 9em;
    border-radius: 10px;
  }
  .project-items a::before {
    content: attr(data-text);
    color: #deeff5;
    position: absolute;
    top: -3.2em;
  }
}

@media (max-width: 347px) {
  .header {
    font-size: 9px;
  }
  .header p a {
    padding: 2px;
    border-radius: 3px;
    font-size: 18px;
  }
}

/* font-family: 'Italianno', cursive;
font-family: 'Montserrat', sans-serif; */
